.pitch {
  position: relative;
  width: 100%; /* Use 90% of the screen width */
  max-width: 1000px; /* Increase max-width for desktop */
  height: 600px; /* Adjust height for better proportions */
  margin: 0 auto; /* Center horizontally */
  background-color: #4CAF50; /* Green pitch color */
  border: 5px solid white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 200px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

/* Goalkeeper */
.goalkeeper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 0%;
}

/* Defenders */
.defenders {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 20%;
}

.left-back,
.right-back {
  width: 20%;
  display: flex;
  justify-content: center;
}

.center-backs {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

/* Midfielders */
.midfielders {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30%;
}

/* Attackers */
.attackers {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 20%;
}

/* Player representation */
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-guess {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .pitch {
    height: 400px; /* Smaller pitch for mobile */
    padding: 10px;
  }

  .validation {
    font-size: 12px;
    color: white;
  }

  h1 {
    font-size: 1.5rem; /* Smaller heading for mobile */
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

.player-name {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.player-icon {
  width: 40px;
  height: 40px;
  margin: 5px 0;
}

.player-guess input {
  padding: 5px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
}

/* Flag styling */
.flag {
  width: 24px;
  height: 16px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}